* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background-color: #0f172a; /* azul oscuro */
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}
